##############
# NetBeans
##############

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbproject/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Outros #
sync.ffs_db
